body {
    background: linear-gradient(to right, #a9a9a9, #c0c0c0) !important;
    /* background-color: #D2D2D2 !important; */
}

#lbl-error {
    color: red;
}

.upper-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #FFF;
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button:hover, a:hover {
  /* opacity: 0.8; */
  transform: scale(1.01);
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}